@import './common';
@import './example';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;

  // margin: 25px auto;
  padding: 0 15px;
  margin: 0 auto;

  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(133, 50, 112);
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.search-form {
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
  margin: 0 auto;
}

.search-form input {
  border-radius: 0.3rem;
}

.search-button {
  border-radius: 0.3rem;
}

.gallery {
  padding-top: 100px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgb(54, 94, 14);
}

.photo-card {
  background-color: gray;
  max-width: 200px;
}

.load-more {
  background-color: aqua;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;

  //   text-align: center;
}

.is-hidden {
  display: none;
}
