@import './common';
@import './example';

.wrapper {
  max-width: 1600px;
  margin: 25px auto;
  padding: 0 15px;
}

.search-form {
}

.search-button {
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.photo-card {
  background-color: gray;
  max-width: 200px;
}

.load-more {
  background-color: aqua;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;

  //   text-align: center;
}
